---
---

@import "main";
@import "syntax";

.genie-content {
    h2, .h2 {
        margin-top: $spacer * 3;
    }

    .btn {
        margin-bottom: $spacer * 0.5;
    }
    
    pre.highlight {
        margin: 0;
        margin-bottom: $spacer;
        padding: $spacer;
    }
}

.navbar-nav-scroll {
    max-width: 100%;
    overflow: hidden;

    .navbar-nav {
        overflow-x: auto;
        white-space: nowrap;
    }
}