---
---

@import "main";
@import "syntax";

.genie-content {
    h2, .h2 {
        margin-top: $spacer * 3;
    }

    .color-swatch {
        height: 10em;
    }

    .btn {
        margin-bottom: $spacer * 0.5;
    }
    
    pre.highlight {
        margin: 0;
        margin-bottom: $spacer;
        padding: $spacer;
    }
}