---
---

@font-face {
    font-family: "Gotham-Book";
    src: url("../assets/fonts/Gotham-Book.eot");
    src: url("../assets/fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"),
         url("../assets/fonts/Gotham-Book.woff") format("woff"),
         url("../assets/fonts/Gotham-Book.ttf") format("truetype"),
         url("../assets/fonts/Gotham-Book.svg#Gotham-Book") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham-Bold";
    src: url("../assets/fonts/Gotham-Bold.eot");
    src: url("../assets/fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
         url("../assets/fonts/Gotham-Bold.woff") format("woff"),
         url("../assets/fonts/Gotham-Bold.ttf") format("truetype"),
         url("../assets/fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

$headings-font-family: "Gotham-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-secondary-font-family: "Gotham-Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$spacer: 1rem;

$cc-primary: #920030;
$cc-secondary: #E3B735;

$theme-colors: (
    primary: $cc-primary,
    secondary: $cc-secondary
);

$h1-font-size: 2rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.45rem;
$h4-font-size: 1.32rem;
$h5-font-size: 1.22rem;
$h6-font-size: 1.1rem;

$display1-size: 4rem;
$display2-size: 3.5rem;
$display3-size: 3rem;
$display4-size: 2.5rem;

$lead-font-size: 1.4rem !default;

$headings-margin-bottom: $spacer;

$link-decoration: underline;
$link-hover-color: theme-color("primary");

$box-shadow-1: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 0.5px 3px 0 rgba(0, 0, 0, 0.26);
$box-shadow-2: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
$box-shadow-3: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
$box-shadow-4: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
$box-shadow-5: 0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 27px 24px 0 rgba(0, 0, 0, 0.2);

$transition-timing: cubic-bezier(.26,.85,.46,.99);

@import "bootstrap";

.btn {
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: $headings-font-family;
    padding: ($spacer * 0.75) ($spacer * 3);
    box-shadow: $box-shadow-1;
    transition: 200ms box-shadow;
    transition-timing-function: $transition-timing;

    &:hover,
    &:focus {
        z-index: 1050;
        box-shadow: $box-shadow-2;
    }
    
    &[disabled],
    &.btn-link {
        &,
        &:hover,
        &:focus {
            box-shadow: none;
        }
    }
    
    &[disabled] {
        cursor: not-allowed;
    }

    &.btn-lg {
        padding: ($spacer * 1) ($spacer * 4);
    }
    
    &.btn-sm {
        padding: ($spacer * 0.5) ($spacer * 2);
    }
}

.nav,
.navbar {
    a,
    a:hover,
    a:focus {
        text-decoration: none;
    }
}

.navbar {
    li.active a {
        font-weight: bold;
    }
}

.navbar-nav-scroll {
    max-width: 100%;
    overflow: hidden;

    .navbar-nav {
        overflow-x: auto;
        white-space: nowrap;
    }
}

.lead {
    font-family: $headings-secondary-font-family;
}

pre.highlight {
    margin: 0;
    margin-bottom: $spacer;
    padding: $spacer;
}