
//
// Base styles
//

.callout {
    padding: $spacer;
    margin-bottom: $spacer * 2;
    
    :last-child {
        margin-bottom: 0;
    }

    @each $color, $value in $theme-colors {
        &.callout-#{$color} {
            background: lighten(theme-color($color), 45%);
            border: 1px solid darken(theme-color($color), 10%);
            border-left: ($spacer * 0.5) solid darken(theme-color($color), 10%);

            .callout-heading {
                font-size: $h4-font-size;
                font-weight: $headings-font-weight;
                margin-bottom: $headings-margin-bottom;
            }
        }
    }
}